.willow-card-grid {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }
    
    &__item {
        margin-right: 0;

        @media screen and (min-width: 768px) {
            margin-right: 1.6rem;
        }
    }
}