
.middle-banner {
    background-image: url("../../images/bg-banner.jpg");
}

.dlp-logo-text {
    border-left: 2px solid #fff;
    color: #fff;
    margin-left: space(1);
    padding-left: space(1);
}
