@import "default-variables";

&-media {

    @import 'content';
    @import 'heading';
    @import 'video';
    @import 'videoWrapper';
    @import 'videoContent';

    display: flex;
    margin-bottom: $space-xxl;
    margin-top: $space-xxl;
}