@mixin base() {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;

}

&__videoContent {
    @include base;
}